@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

nav{
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    background-color: #fff;
}

h1{
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 25px;
    } 

h2,h3,h4,h5{
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}

label{
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

main {
    
    color: black;
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    background-size: cover;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}

main h1, main button{
    text-transform: uppercase;
}

main h1{
    font-size: 25px;
}
main p{
    font-size: 12px;
}


.form{
    display:inline-block;
    width:50%;
    vertical-align:top;
    text-align: left;
}

.form-card {
    text-align: center;
    width: 70%; 
    height: 100%; 
  
    
}
.form-card-body {
    border-top: 0px;
    text-align: center;
    width: 70%; 
    height: 100%; 
    
}


.jumbotron {
    background-size: cover;
    padding: 30px;
    height: 70vh;
}

.jumbotron img{
    width: 200px;
    border: 3px solid #666;
}

}

.suqre{
    width:500px;
    height:100px;
    border:1px solid #000;
}


.column {
    border: 3px solid #666;
    float: all;
    width: 100%;
    margin-bottom: 16px;
    padding: 50 50px;
}


.kotak {
  width: 70%; 
  margin-left: auto; 
  margin-right: auto;
}

/*.kotak p {
  opacity: 0;
  transition: 0.5s;
}

.kotak:hover p {
  opacity: 1;
}*/


.card-icon{
  font-size: 30px;
  width: 50px;
  height: 50px;
  background: none;
  
  border-radius: 50%;
  text-align: center;
  line-height: 50px !important;
  transition: 0.3s linear;
  cursor: pointer;
}

.card-icon:hover{
  background: #ff6348;
}

.contact100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 63px 55px;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}













