@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffe4c4;
}

nav,h1,h3,h4,h5{
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}

label{
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

main{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
    height: 40vh;
    background: url("../produkListJasa/material_0005_Desktop_Background.png");
    background-position: center;
    background-size: cover;
}

main h1, main button{
    text-transform: uppercase;
}

main h1{
    font-size: 25px;
}
main p{
    font-size: 12px;
}

/* =============================================================
    FILTER FOR MOBILE SECTION
   =============================================================*/

.filter-mobile{
    position: relative;
    top: -40px;
    border-radius: 20px;
    background-color: white;
    padding: 20px 30px;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-mobile i{
    margin-left: 5px;
    cursor: pointer;
}

.filter-mobile h3{
    font-size: 15px;
}

.filter-mobile img,.filter-dekstop-version .isi img{
    cursor: pointer;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
/* =============================================================
    HARGA SECTION
   =============================================================*/
.harga-mobile{
    background-color: white;
    width: 95%;
    padding: 20px;
    position: absolute;
    transform-origin: top;
    transform: translateY(-40%) scaleY(0);
    left: 2%;
    border-radius: 20px;
    z-index: 2;
    transition: 0.15s ease-in-out;
}

.showHarga{
    transform: translateY(-40%) scaleY(1);
}

.harga-mobile button{
    float: right;
    background-color: #8e569b;
}

.jasa-mobile button{
    background-color: #8e569b;
}

button{
    text-transform: uppercase;
}

.slider-harga {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-harga:hover {
  opacity: 1;
}

.slider-harga::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #8e569b;
  border-radius: 50%;
  cursor: pointer;
}

.slider-harga::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #8e569b;
    cursor: pointer;
    border-radius: 50%;
}

/* =============================================================
    FITLER JASA SECTION
   =============================================================*/
.jasa-mobile{
    z-index: 2;
    transform-origin: top;  
    position: absolute;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    transform: translateY(-5%) scaleY(0);
    z-index: 2;
    transition: 0.15s ease-in-out;
}

.showJasa{
    transform: translateY(-5%) scaleY(1);
}

input[type=number]{
    border: 1px solid #808080;
    margin-left: 6px;
    background-color: transparent;
}

/* =============================================================
    LIST PRODUK JASA SECTION
   =============================================================*/

/* JASA ARSITEKTUR */
.jasa-arsitektur1,.jasa-furnitur1,.jasa-produk1,.filter-dekstop-version .isi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-jasa-arsitektur{
    border: 1px solid #aea192;
    padding: 20px;
}

.detail-jasa-arsitektur button{
    float: right;
    text-transform: uppercase;
}

/* JASA FURNITUR */
.jasa-furnitur1 button{
    display: block;
    float: right;
    text-transform: uppercase;
}

.filter-dekstop-version .isi{
    display: none;
}

/* =============================================================
*^^^^^^^^^
LARGE DEVICE SECTION
*^^^^^^^^^
=============================================================*/
@media (min-width: 768px) {
    main{
        height: 70vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    main h1{
        font-size: 45px;
    }
    main p{
        font-size: 16px;
        width: 70%;
    }

    .filter-mobile,.harga-mobile,.jasa{
        display: none;
    }

    .filter-dekstop-version .isi{
        display: flex;
    }
    .filter-dekstop-version{
        margin-top: 50px;
    }
    
    .filter-dekstop-version img{
        height: 190px;
    }
    .filter-dekstop-version h4{
        font-size: 17px;
    }
    .filter-dekstop-version p{
        font-size: 12px;
    }
    
    .detail-jasa-arsitektur{
        padding: 10px;
    }
    input[type=number]{
        width: 30px;
        margin-left: 1px;
        background-color: transparent;
    }

    .jasa-arsitektur1,.jasa-furnitur1,.jasa-produk1,.filter-dekstop-version .isi{
        justify-content: start;
    }    
    
    /* FILTER FOR DEKSTOP SECTION */
    .filter-dekstop-version .isi .account-desktop{
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }
    .filter-dekstop-version .isi .account-desktop .circle{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .filter-dekstop-version .isi .account-desktop h4{
        font-size: 14px;
        margin: 5px 30px;
    }
    .filter-dekstop-version .isi .account-desktop .circle div{
        width: 7px;
        height: 7px;
        background-color: #666666;
        border-radius: 50%;
        margin: 1px 0;
    }
    
    .jasa-dekstop{
        background-color: white;
        width: 95%;
        border-radius: 20px;
        margin: 20px 0;
        padding: 20px;
    }
    .jasa-dekstop h3{
        font-size: 20px;
        padding: 10px 10px 8px 20px;
        letter-spacing: 5px;
    }

    .arsitektur-bangunan-dekstop,.desain-furnitur-dekstop,.desain-produk-dekstop,.harga-dekstop{
        margin: 6px 0;
        background-color: white;
        width: 95%;
        padding: 30px;
        border-radius: 20px;
    }
    .isi button{
        background-color: #8e569b;
        float: right;
        margin-top: 20px;
    }
    .isi button:hover{
        background-color: #6f337c;
    }
    .isi h5{
        font-size: 18px;
        margin-bottom: 30px;
    }

    .isi label{
        font-size: 14px;
    }
    
}

