/* header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation {
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
}
header .navigation li a {
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
} */
