@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;400;800&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}


p {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    color: white;
}

.card {
    text-align: left;
}

.card .black-wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s linear;
}
.card .black-wrapper i{
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-weight: 800;  
    padding: 10px;
    border: 1px solid #fff;  
    text-align: center;
    transition: 0.3s ease-in-out;
}

.card:hover .black-wrapper{
    opacity: 1;
}

.card .black-wrapper i:hover{
    color: #525252;
    background-color: white;
}

.card img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.splide{
    background-color: rgba(52,52,52,1);
}

.splide.kedua{
    display: flex;
    justify-content: center;
}

.active{
    background-color: #29BAB2;
}

@media (max-width: 768px) {
    .splide img{
        height: 30vh !important;
    }
}