@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4{
    font-family: "Exo",sans-serif;
}

/* ==========================
    NAVBAR SECTION
  ===========================*/
.navbars{
    position: relative;
    background-color: transparent !important;
    z-index: 9;
}

.navbars .navbars-rights i,
.navbars .navbars-rights h4,
.navbars .navbars-rights h4 a{
    color: rgb(230, 230, 230) !important;
}

.navbars .navbars-rights > .cart-show{
    top: 65% !important;
    z-index: 9 !important;
}

/* ==========================
    MAIN IMAGE SECTION
  ===========================*/
.img-section{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 52%;
    left: 45%;
    z-index: 5;
    width: 750px;
    height: 500px;
    overflow: hidden;
}

.img-section img{
    position: relative;
    top: 0%;
    width: 750px;
    height: 500px;
    transition: 0.3s ease-in-out;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.mainSection{
    margin-top: -105px;
    width: 100%;
    height: 100vh;
}
/* ==========================
    ICON SECTION
    ===========================*/
.icon-section{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 35%;
    left: 10%;
}
.icon-section i{
    color: #515256;
    padding: 14px 0;
    font-size: 30px;
}

/* ==========================
    MAIN RIGHT SECTION
    ===========================*/
.mainSection .rightSection{
    background-color: #1f1f1f;
    position: relative;
    width: 100%;
}

.mainSection .rightSection .text-background{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
    top: 20%;
    z-index: 2;
}
.mainSection .rightSection h1{
    position: relative;
    left: 0%;
    font-size: 400px;
    font-weight: 800;
    color: #282828;
    padding: 0 20px;
    transition: 0.3s ease-in-out;
}

.mainSection .rightSection h3,
.mainSection .rightSection h2{
    position: relative;
    color: white;
    text-align: right;
    z-index: 9;
}


/* ==========================
    TITLE TEXT SECTION
    ===========================*/
.mainSection .rightSection .title-number{
    width: 50px;
    position: relative;
    left: 80%;
    overflow: hidden;
    display: flex;
    justify-content: end;
}
.mainSection .rightSection h2{
    left: -0%;
    font-size: 35px;
    padding: 220px 5px 10px 5px;
    font-weight: 800;
    transition: 0.3s ease-in-out;
    
}

.mainSection .rightSection .text-title{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.mainSection .rightSection h3{
    top: 0%;
    font-size: 24px;
    padding: 10px 40px 40px 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 1.6;
    transition: 0.3s ease-in-out;
}

.mainSection .rightSection .controller i{
    cursor: pointer;
    padding: 4px 0;
    font-size: 30px;
    color: white;
    transition: 0.3s ease-in-out;
}
.mainSection .rightSection .controller i:hover{
    transform: scale(1.2);
}
.mainSection .rightSection .controller{
    position: absolute;
    bottom: 10%;
    left: 20%;
    display: flex;
    flex-direction: column;
    z-index: 20;
}
