@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;600;800;1000&display=swap');

*{
    padding: 0;
    margin: 0;
}

h1,h3{
    font-family: "Exo",sans-serif;
}

.listjasa{
    margin-top: 200px;
}

.listjasa h1{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
}

.listjasa .items{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.listjasa .items div{
    margin: 0 50px;
}

.listjasa .items .text-listjasa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: -10%;
    position: relative; 
    top: -30%;
    background-color: #273446;
    color: #E6E6E6;
    width: 120%;
    height: 70px;
    -webkit-box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);

}
.listjasa .items .text-listjasa h3{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
.listjasa .items button{
    background-color: #273446;
    margin-top: -50px;
    float: right;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width: 767.98px) {
    .listjasa .items{
        flex-direction: column;
        text-align: center;
    }
    .listjasa .items div{
        margin: 20px auto;
    }

    .listjasa .items img{
        width: 300px !important;
        height: 300px !important;
    }
    .listjasa .items .text-listjasa{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-left: -10%;
        position: relative; 
        top: -150px;
        width: 120%;
        height: 70px;
    }
}

@media (max-width: 991.98px) {
    .listjasa .items{
        text-align: center;
    }
    .listjasa .items img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .listjasa .items .text-listjasa h3{
        font-size: 20px;
    }
}

@media (max-width: 1199.98px) {

}

