@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;600;800;1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1,h4,h5,p{
    font-family: "Exo",sans-serif;
}

.choose-us{
    margin-top: 100px;
}

.choose-us img{
    position: relative;
    width: 400px;
    height: 500px;
    object-fit: cover;
    z-index: 1;
}

.choose-us .text-choose-us{
    text-align: right;
    padding: 40px 30px;
    position: absolute;
    top: 120px;
    left: -30%;
    width: 350px;
    height: 350px;
    -webkit-box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    z-index: 20;
    background-color: white;
}

.choose-us .text-choose-us h5{
    font-size: 17px;
    font-weight: 600;
}
.choose-us .text-choose-us p{
    font-size: 11px;
    font-weight: 400;
}

.choose-us h1{
    text-transform: uppercase;
    position: relative;
    font-weight: 1000;
    color: #ededed;
    transform: rotate(270deg);
    left: 15%;
    top: 40%;
    letter-spacing: 10px;
    font-size: 60px;
}

.choose-us h4{
    font-size: 30px;
    position: relative;
    top: 35%;
    left: 13%;
    font-weight: 600;
    text-transform: uppercase;
}


@media (max-width: 575.98px) {
    .choose-us{
        text-align: center;
    }

    .choose-us img{
        width: 400px;
        height: 500px;
        margin-top: 30px;
    }

    .choose-us .text-choose-us{
        text-align: left;
        top: 50%;
        transform: translateX(-50%);
        left: 50%;
    }

    .choose-us .text-choose-us h5{
        font-size: 17px;
    }
    .choose-us .text-choose-us p{
        font-size: 11px;
    }

    .choose-us h1{
        text-align: left;
        transform: rotate(0deg);
        left: 0%;
        top: 0%;
    }

    .choose-us h4{
        top: -10%;
        left: 0%;
    }
}

@media (max-width: 767.98px) {
    .choose-us{
        text-align: center;
    }

    .choose-us img{
        width: 400px;
        height: 500px;
        margin-top: 30px;
    }

    .choose-us .text-choose-us{
        text-align: left;
        top: 50%;
        transform: translateX(-50%);
        left: 50%;
    }

    .choose-us .text-choose-us h5{
        font-size: 17px;
    }
    .choose-us .text-choose-us p{
        font-size: 11px;
    }

    .choose-us h1{
        text-align: left;
        transform: rotate(0deg);
        left: 0%;
        top: 0%;
    }

    .choose-us h4{
        top: -10%;
        left: 0%;
    }
}

@media (max-width: 991.98px) {
    .choose-us h1{
        left: 15%;
        top: 40%;
        letter-spacing: 4px;
        font-size: 50px;
    }

    .choose-us h4{
        font-size: 25px;
        top: 35%;
        left: 0%;
    }
}

/* @media (max-width: 1199.98px) {
    .choose-us h1{
        left: 15%;
        top: 40%;
        letter-spacing: 4px;
        font-size: 60px;
    }

    .choose-us h4{
        font-size: 25px;
        top: 35%;
        left: 10%;
    }
} */
