@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;600;800;1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

h4,p{
    font-family: "Exo",sans-serif;
}


.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* ========================
    PROJECT TITLE SECTION
  =========================*/
.project-title{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title::before{
    content: "";
    position: absolute;
    left: 33%;
    width: 6px;
    height: 100px;
    background-color: black;
}

.project-title h4,.project-title p{
    width: 30%;
}

.project-title h4{
    font-weight: 1000;
    letter-spacing: 2px;
}

.project-title p{
    font-size: 13px;
}
/* ========================
    PROJECT TITLE SECTION
  =========================*/
.project-items .project_long img,
.project-items .project_row_1 img{
    object-fit: cover;
}

.project-items .project_long img{
    width: 100%;
    height: 620px;
    margin: 20px;
}
.project-items .project_row_1 img{
    width: 100%;
    height: 300px;
    margin: 20px 20px 20px 20px;
}
.project-items .project_row_2 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 20px;
}

.project-items .named-project{
    padding: 20px;
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 0;
    background-color: white;
    -webkit-box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
}

.project-items .named-project h5{
    font-weight: 600;
    font-size: 20px;
}   
.project-items .named-project p{
    font-size: 12px;
}   

@media (max-width: 575.98px) {
    /* ========================
        PROJECT TITLE SECTION
    =========================*/
    .project-title::before{
        left: 15%;
        width: 6px;
        height: 70px;
    }

    .project-title h4,.project-title p{
        width: 60%;
    }

    .project-title h4{
        font-size: 15px;
    }

    .project-title p{
        font-size: 10px;
    }
    /* ========================
        PROJECT TITLE SECTION
    =========================*/
    .project-items{
        text-align: center;
    }
    .project-items .project_long img{
        width: 80%;
        height: 400px;
    }
    .project-items .project_row_1 img{
        width: 80%;
        height: 200px;
    }
    .project-items .project_row_2 img{
        width: 80%;
        height: 200px;
    }

    .project-items .named-project{
        text-align: left;
        padding: 20px 20px 10px 20px;
        width: 40%;
        bottom: 10%;
        right: 10%;
    }

    .project-items .named-project h5{
        font-size: 15px;
    }   
    .project-items .named-project p{
        font-size: 11px;
    }   
}
@media (max-width: 767.98px) {
    /* ========================
        PROJECT TITLE SECTION
    =========================*/
    .project-title::before{
        left: 20%;
        width: 6px;
        height: 90px;
    }

    .project-title h4,.project-title p{
        width: 50%;
    }

    .project-title h4{
        font-size: 18px;
    }

    .project-title p{
        font-size: 12px;
    }
}

@media (max-width: 991.98px) {
    /* ========================
        PROJECT TITLE SECTION
    =========================*/
    .project-title::before{
        left: 20%;
        width: 6px;
        height: 94px;
    }

    .project-title h4,.project-title p{
        width: 50%;
    }

    .project-title h4{
        font-size: 20px;
    }

    .project-title p{
        font-size: 14px;
    }
}