@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4{
    font-family: "Exo",sans-serif;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* ==========================
    NAVBAR SECTION
  ===========================*/
.navbars{
    position: relative;
    background-color: transparent !important;
    z-index: 9;
}

.navbars .navbars-rights i,
.navbars .navbars-rights h4,
.navbars .navbars-rights h4 a{
    color: rgb(230, 230, 230) !important;
}

.navbars .navbars-rights > .cart-show{
    top: 65% !important;
    z-index: 9 !important;
}

.mainSection .icon-section a:nth-child(1):hover i{
    color: #026bb1;
}
.mainSection .icon-section a:nth-child(2):hover i{
    color: #2764AC;
}
.mainSection .icon-section a:nth-child(3):hover i{
    color: #D30341;
}
.mainSection .icon-section a:nth-child(4):hover i{
    color: #1DA1F2;
}

/* ==========================
    MAIN IMAGE SECTION
  ===========================*/
.img-section{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 32%;
    left: 50%;
    width: 400px;
    height: 200px;
    overflow: hidden;
    z-index: 9;
}

.img-section img{
    position: relative;
    top: 0%;
    width: 400px;
    height: 200px;
    transition: 0.3s ease-in-out;
    object-fit: cover;
}

.mainSection{
    margin-top: -25px;
    width: 100%;
    height: 100vh;
}
/* ==========================
    ICON SECTION
    ===========================*/
.icon-section{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 17em;
    left: 8%;
    z-index: 7;
}
.icon-section i{
    color: #e4e4e4;
    padding: 0px 10px 0px 0px;
    font-size: 20px;
    transition: 0.2s linear;
}

/* ==========================
    MAIN RIGHT SECTION
    ===========================*/
.mainSection .rightSection{
    background-color: #1f1f1f;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.mainSection .rightSection .text-background{
    width: 410px;
    height: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
    top: 20%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 2;
}
.mainSection .rightSection h1{
    position: relative;
    left: 0%;
    font-size: 350px;
    font-weight: 800;
    color: #282828;
    padding: 0 30px;
    transition: 0.3s ease-in-out;
}

.mainSection .rightSection h3,
.mainSection .rightSection h2{
    position: relative;
    color: white;
    text-align: right;
    z-index: 9;
}


/* ==========================
    TITLE TEXT SECTION
    ===========================*/
.mainSection .rightSection .title-number{
    width: 50px;
    position: relative;
    left: 80%;
    overflow: hidden;
    display: flex;
    justify-content: end;
}
.mainSection .rightSection h2{
    left: -0%;
    font-size: 35px;
    padding: 170px 5px 10px 5px;
    font-weight: 800;
    transition: 0.3s ease-in-out;
    
}

.mainSection .rightSection .text-title{
    width: 100%;
    height: 160px;
    overflow: hidden;
}
.mainSection .rightSection h3{
    top: 0%;
    font-size: 24px;
    padding: 5px 40px 40px 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 1.6;
    transition: 0.3s ease-in-out;
}

/* ==========================
    CONTROLLER SECTION
    ===========================*/
.mainSection .rightSection .controller i{
    cursor: pointer;
    padding: 4px 0;
    font-size: 30px;
    color: white;
    transition: 0.3s ease-in-out;
}

.mainSection .rightSection .controller i:hover{
    transform: scale(1.2);
}
.mainSection .rightSection .controller{
    position: absolute;
    bottom: 40%;
    left: 8%;
    display: flex;
    flex-direction: column;
    z-index: 10 !important;
}

@media (min-width: 575.98px) {
    .img-section{
        top: 32%;
        width: 600px;
        height: 300px;
    }

    .img-section img{
        top: 0%;
        width: 600px;
        height: 300px;
        z-index: 5;
        object-fit: cover;
    }
    /* ==========================
        ICON SECTION
        ===========================*/
    .icon-section{
        top: 19em;
        left: 10%;
    }
    .icon-section i{
        padding: 0px 15px 0px 0px;
        font-size: 24px;
    }
    
    /* ==========================
        MAIN RIGHT SECTION
        ===========================*/
    .mainSection .rightSection .text-background{
        width: 410px;
        left: 65%;
    }

    /* ==========================
        TITLE TEXT SECTION
        ===========================*/
    .mainSection .rightSection .title-number{
        left: 85%;
    }
    .mainSection .rightSection h3{
        padding: 5px 65px 40px 40px;
    }
    /* ==========================
        CONTROLLER SECTION
        ===========================*/
    .mainSection .rightSection .controller i{
        padding: 4px 0;
        font-size: 30px;
    }
    .mainSection .rightSection .controller{
        bottom: 40%;
        left: 9%;
    }
}

@media (min-width: 767.98px) {

    /* ==========================
        MAIN IMAGE SECTION
    ===========================*/
    .img-section{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 52%;
        left: 45%;
        z-index: 5;
        width: 550px;
        height: 300px;
        overflow: hidden;
    }

    .img-section img{
        position: relative;
        top: 0%;
        width: 550px;
        height: 300px;
        transition: 0.3s ease-in-out;
        object-fit: cover;
    }

    .mainSection{
        margin-top: -105px;
        width: 100%;
        height: 100vh;
    }
    /* ==========================
        ICON SECTION
        ===========================*/
    .icon-section{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 35%;
        left: 10%;
    }
    .icon-section i{
        color: #515256;
        padding: 14px 0;
        font-size: 30px;
    }

    /* ==========================
        MAIN RIGHT SECTION
        ===========================*/
    .mainSection .rightSection{
        background-color: #1f1f1f;
        position: relative;
        width: 100%;
    }

    .mainSection .rightSection .text-background{
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        overflow: hidden;
        transform: translateX(-50%);
        left: 50%;
        top: 20%;
        z-index: 2;
    }
    .mainSection .rightSection h1{
        position: relative;
        left: 0%;
        font-size: 400px;
        font-weight: 800;
        color: #282828;
        padding: 0 20px;
        transition: 0.3s ease-in-out;
    }

    .mainSection .rightSection h3,
    .mainSection .rightSection h2{
        position: relative;
        color: white;
        text-align: right;
        z-index: 9;
    }


    /* ==========================
        TITLE TEXT SECTION
        ===========================*/
    .mainSection .rightSection .title-number{
        width: 50px;
        position: relative;
        left: 80%;
        overflow: hidden;
        display: flex;
        justify-content: end;
    }
    .mainSection .rightSection h2{
        left: -0%;
        font-size: 35px;
        padding: 220px 5px 10px 5px;
        font-weight: 800;
        transition: 0.3s ease-in-out;
        
    }

    .mainSection .rightSection h3{
        top: 0%;
        font-size: 24px;
        padding: 10px 40px 40px 40px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 400;
        line-height: 1.6;
        transition: 0.3s ease-in-out;
    }

    .mainSection .rightSection .controller i{
        cursor: pointer;
        padding: 4px 0;
        font-size: 30px;
        color: white;
        transition: 0.3s ease-in-out;
    }
    .mainSection .rightSection .controller i:hover{
        transform: scale(1.2);
    }
    .mainSection .rightSection .controller{
        position: absolute;
        bottom: 12%;
        left: 25%;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 991.98px) {
    /* ==========================
        MAIN IMAGE SECTION
    ===========================*/
    .img-section{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 52%;
        left: 45%;
        width: 750px;
        height: 500px;
        overflow: hidden;
    }

    .img-section img{
        position: relative;
        top: 0%;
        width: 750px;
        height: 500px;
        z-index: 5;
        transition: 0.3s ease-in-out;
        object-fit: cover;

    }

    .mainSection{
        width: 100%;
        height: 100vh;
    }
    /* ==========================
        MAIN LEFT SECTION
    ===========================*/
    
    .mainSection .leftSection h1{
        font-size: 24px;
        padding: 40px;
        text-transform: uppercase;
        font-weight: 800;
    }

    /* ==========================
        ICON SECTION
        ===========================*/
    .icon-section{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 35%;
        left: 12%;
    }
    /* ==========================
        MAIN RIGHT SECTION
        ===========================*/

    .mainSection .rightSection .text-background{
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        overflow: hidden;
        top: 20%;
        z-index: 2;
    }
    .mainSection .rightSection h1{
        position: relative;
        left: 0%;
        font-size: 400px;
        font-weight: 800;
        color: #282828;
        padding: 0 20px;
    }
    /*  TITLE SECTION */
    .mainSection .rightSection h2{
        left: -0%;
        font-size: 35px;
        padding: 200px 5px 10px 5px;
        font-weight: 800;
        transition: 0.3s ease-in-out;
        
    }

}

@media (min-width: 1199.98px) {
    
}