footer .container-fluid{
    margin-top: 100px;
    height: 100%;
    width: 100%;
    background-color: #364458;
}

footer .container .row{
    padding-top: 100px;
}

footer h1,
footer h2,
footer p,
footer a{
    color: #E6E6E6;
}

footer h1{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
}

footer h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

footer p{
    font-size: 13px;
}


footer a{
    color: #E6E6E6;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;
    display: block;
}
footer a:hover{
    color: #c4c4c4;
    text-decoration: none;

}

footer .footer-icon-section{
    color: #E6E6E6;
    font-size: 26px;
}
footer .footer-icon-section i{
    padding: 20px 20px 0 0;
    padding-right: 20px;
    cursor: pointer;
}

hr{
    margin: 40px auto 20px auto;
    width: 95%;
    height: 1px;
    background-color: #CEA886;
}

@media (max-width: 767.98px) {
    footer .container .col-md-3{
        margin-top: 40px;
    }
}