@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;600;800;1000&display=swap');

*{
    padding: 0;
    margin: 0 ;
}

h1,h4,p{
    font-family: "Exo",sans-serif;
}

.testim h1{
    margin-top: 170px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.testimony{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony > img{
    width: 600px;
    height: 300px;
    object-fit: cover;
}

.testimony .comment{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -50px;
    left: 3%;
}

.testimony .comment img{
    margin-right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.testimony .comment .dialog{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    width: 500px;
    height: 180px;
    -webkit-box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    box-shadow: 11px 9px 19px 0px rgba(0,0,0,0.16);
    position: relative;
    top: -20px;
}

.testimony .comment .dialog i{
    font-size: 40px;
    font-weight: 800;
}

.testimony .comment .dialog p{
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}

@media (max-width: 575.98px) {
    .testimony > img{
        width: 300px !important;
        height: 150px !important;
    }

    .testimony .comment img{
        margin: 20px 20px 0px 10px !important;
        width: 50px !important;
        height: 50px !important;
    }

    .testimony .comment .dialog{
        padding: 20px;
        width: 250px !important;
        height: 100px !important;
        top: -0px !important;
    }

    .testimony .comment .dialog i{
        font-size: 15px !important;
    }

    .testimony .comment .dialog p{
        font-size: 9px !important;
        padding: 5px 5px 5px 5px !important;
    }
}
@media (max-width: 767.98px) {
    .testim h1{
        margin-top: 120px;
        font-size: 30px;
    }
    .testimony > img{
        width: 400px;
        height: 200px;
    }

    .testimony .comment img{
        margin-right: 20px;
        width: 70px;
        height: 70px;
    }

    .testimony .comment .dialog{
        padding: 20px;
        width: 300px;
        height: 140px;
        top: -20px;
    }

    .testimony .comment .dialog i{
        font-size: 20px;
    }

    .testimony .comment .dialog p{
        font-size: 11px;
        padding: 10px 10px 20px 20px;
    }
}